<a href="https://colab.research.google.com/github/gio888/covid19_ph2/blob/master/covid_import_from_wikipedia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
#url = "https://en.wikipedia.org/wiki/Template:2019%E2%80%9320_coronavirus_pandemic_data/Philippines_medical_cases_summary"
url = 'https://en.wikipedia.org/wiki/2020_coronavirus_pandemic_in_the_Philippines'
page = requests.get(url)
soup = BeautifulSoup(page.content, 'html.parser')
table = soup.find('table', class_='wikitable')

n_columns = 0
n_rows=0
column_names = []

for row in table.find_all('tr'):
   td_tags = row.find_all('td')
   if len(td_tags) > 0:
      n_rows+=1
      if n_columns == 0:
         n_columns = len(td_tags)

   th_tags = row.find_all('th') 
   if len(th_tags) > 0 and len(column_names) == 0:
      for th in th_tags:
         column_names.append(th.get_text())

columns = column_names if len(column_names) > 0 else range(0,n_columns)
df = pd.DataFrame(columns = columns,index= range(0,n_rows))

row_marker = 0
for row in table.find_all('tr'):
   column_marker = 0
   columns = row.find_all('td')
   for column in columns:
      df.iat[row_marker,column_marker] = column.get_text()
      column_marker += 1
   if len(columns) > 0:
      row_marker += 1

for col in df:
   try:
      df[col] = df[col].astype(float)
   except ValueError:
      pass

df

        Caseno.\n Date\n  ...             Notes\n Ref.\n
0    January 30\n   38\n  ...          [35][36]\n    NaN
1    February 2\n   44\n  ...          [35][36]\n    NaN
2    February 5\n   60\n  ...      [35][36][37]\n    NaN
3       March 5\n   48\n  ...  [35][36][38][39]\n    NaN
4       March 5\n   62\n  ...      [35][36][38]\n    NaN
..            ...    ...  ...                 ...    ...
799    March 27\n   32\n  ...              [93]\n    NaN
800    March 27\n   40\n  ...              [93]\n    NaN
801    March 27\n   23\n  ...              [93]\n    NaN
802    March 27\n   40\n  ...              [93]\n    NaN
803    March 27\n   28\n  ...              [93]\n    NaN

[804 rows x 10 columns]